@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  /* grid-template-columns: 100px 200px 400px; */
  /* grid-template-columns: 50% 25% 25%; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: 60px 1fr 2fr 3fr; */
  /* grid-template-columns: 60px 1fr 60px 3fr;   */
  /* grid-template-columns: repeat(3, 1fr) repeat(2, 2fr); */
  /* grid-template-rows: 200px 50px 100px; */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr) repeat(2, 2fr); */
  /* grid-template-rows: repeat(3, 1fr) repeat(2, 2fr) repeat(2, 3fr); */

  grid-template-columns: 100px 200px 400px;
  grid-template-rows: 200px 150px 100px;
}
